# macOS
**/.DS_Store

*.log
.idea/*
.terraform*
/dist/
terraform.tfstate*
terraform.tfvars.d*
/playground/*
/vendor
/tests/rhcs_output
terraform-provider-rhcs
/bin/
.vscode/**/*
**/ginkgo.report
/temp
**/*.test
coverage.out

# For envs with direnv allowing to separate env vars from global
.envrc
